<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/94da5e0a-fc01-4f0c-b114-33c1eae17b8b/resourceGroups/backendresourcegroup/providers/Microsoft.ApiManagement/service/BackendApiapiservice/apis/BackendApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/94da5e0a-fc01-4f0c-b114-33c1eae17b8b/resourcegroups/Desafio_solucao/providers/Microsoft.Web/sites/BackendApi20220803095809InstanceLinux</ResourceId>
    <ResourceGroup>Desafio_solucao</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backendapi20220803095809instancelinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>294ee241-d4c1-4b99-b094-f99a8dae29f9</ProjectGuid>
    <PublishUrl>https://backendapi20220803095809instancelinux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BackendApi20220803095809InstanceLinux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>