<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/94da5e0a-fc01-4f0c-b114-33c1eae17b8b/resourcegroups/Desafio_solucao/providers/Microsoft.Web/sites/BackendApi20220802195859</ResourceId>
    <ResourceGroup>Desafio_solucao</ResourceGroup>
    <ApiResourceId>/subscriptions/94da5e0a-fc01-4f0c-b114-33c1eae17b8b/resourceGroups/backendresourcegroup/providers/Microsoft.ApiManagement/service/BackendApiapiservice/apis/BackendApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendapi20220802195859.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>294ee241-d4c1-4b99-b094-f99a8dae29f9</ProjectGuid>
    <MSDeployServiceURL>backendapi20220802195859.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BackendApi20220802195859</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BackendApi20220802195859</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>