<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/94da5e0a-fc01-4f0c-b114-33c1eae17b8b/resourcegroups/backendresourcegroup/providers/Microsoft.ContainerRegistry/registries/BackendApi20220802172432</ResourceId>
    <ResourceName>BackendApi20220802172432</ResourceName>
    <ResourceGroup>backendresourcegroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://backendapi20220802172432.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>294ee241-d4c1-4b99-b094-f99a8dae29f9</ProjectGuid>
  </PropertyGroup>
</Project>